body{
    font-family: sans-serif;
    color: #3c3939;
    background: #1f4037;
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
    background: linear-gradient(to right, #99f2c8, #1f4037);
    ;
}

.profile-card{
    width: 400px;
    margin: auto;
    background: rgb(255, 255, 255);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.image-container{
    position: relative;
}
.info{
    color: #4b4fe2;
    margin-right: 16px;
}
.main-container{
    padding: 16px;
}
.skill-bar{
    background-color: #bdc9ea;
    border-radius: 16px;
}
.progress-bar{
    padding: 0.1em 16px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    background-color: #4b4fe2;
}
.title{
    position: absolute;
    left: 15px;
    bottom: 0;
    color: rgb(29, 117, 231);
}
